<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#edf2f4"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: #edf2f4; font-family: Roboto">Cargando...</p>
</ngx-spinner>

<div class="infoContainer">
  <button
    type="button"
    class="fa fa-arrow-left icon-button"
    aria-hidden="true"
    (click)="handleBack()"
  ></button>

  <mat-stepper
    [linear]="true"
    #stepper
    (selectionChange)="handleStepperSelectionChange($event)"
  >
    <!-- Step 1 -->
    <mat-step>
      <ng-template matStepLabel>Solicitar turno</ng-template>
      <form [formGroup]="form">
        <!-- choose professional -->
        <div
          class="roundedButtons"
          *ngIf="professionals && professionals.length > 0"
        >
          <div *ngFor="let professional of professionals">
            <p class="professionalName">
              {{ professional.name }} {{ professional.lastname }}
            </p>
            <button
              type="button"
              (click)="handleSelectProfessional(professional.email)"
            >
              <img [src]="professional.profilePicture" alt="Foto de perfil" />
            </button>
          </div>
        </div>
        <!-- choose specialty -->
        <div *ngIf="professionalSelected">
          <p class="selected-text">
            Especialidades de {{ professionalSelected.name }}
            {{ professionalSelected.lastname }}
          </p>
          <div class="specialty-container">
            <button
              type="button"
              class="specialty-button"
              *ngFor="let specialty of professionalSelected.specialties"
              (click)="handleSelectSpecialty(specialty)"
            >
              <p class="specialty-name">{{ specialty }}</p>
              <img
                class="specialty-image"
                *ngIf="getSpecialtyImg(specialty)"
                [src]="getSpecialtyImg(specialty)"
                alt="Especialidad"
              />
            </button>
          </div>
          <p class="text-value" *ngIf="form.get('specialty')?.value">
            Especialidad seleccionada: {{ form.get("specialty")?.value }}
          </p>
        </div>

        <h2 *ngIf="hasToShowAppointments" class="available-days-text">
          Turnos disponibles
        </h2>

        <div
          class="days-container"
          *ngIf="availableDays.length > 0 && hasToShowAppointments"
        >
          <button
            *ngFor="let day of availableDays"
            (click)="selectDay(day)"
            class="day-button"
          >
            {{ weekDays[day.date.getDay()] }}
            {{ day.date | date : "yyyy-MM-dd" }}
          </button>
        </div>

        <div class="selected-day-container" *ngIf="selectedDay">
          <p class="text-value">
            Fecha seleccionada: {{ selectedDay.date | date : "yyyy-MM-dd" }}
          </p>
          <ul *ngIf="selectedDay.availableTimes.length > 0" class="time-list">
            <li
              *ngFor="let time of selectedDay.availableTimes"
              class="time-item"
            >
              <button
                type="button"
                class="btn btn-outline-secondary"
                (click)="handleSelectTime(time.startTime, time.endTime)"
              >
                {{ time.startTime }} - {{ time.endTime }}
              </button>
            </li>
          </ul>
          <p class="text-value" *ngIf="selectTime">
            Horario seleccionado: {{ selectTime.startTime }} -
            {{ selectTime.endTime }}
          </p>
          <div *ngIf="selectedDay.availableTimes.length === 0" class="no-times">
            <p>No hay turnos disponibles para este día.</p>
          </div>
        </div>
        <div>
          <button
            mat-button
            matStepperNext
            (click)="handleSubmit()"
            [disabled]="form.invalid"
          >
            Continuar
          </button>
        </div>
      </form>
    </mat-step>

    <!-- Step 2 -->
    <mat-step>
      <ng-template matStepLabel>Confirmar</ng-template>
      <div *ngIf="appointmentRequested">
        <h3>Confirmación del turno</h3>
        <p>
          <strong>Especialista:</strong>
          {{ appointmentRequested.professional_name }}
        </p>
        <p>
          <strong>Especialidad:</strong> {{ appointmentRequested.specialty }}
        </p>
        <p>
          <strong>Fecha:</strong> {{ appointmentRequested.day }},
          {{ appointmentRequested.date }}
        </p>
        <p>
          <strong>Horario:</strong> {{ appointmentRequested.start_time }} -
          {{ appointmentRequested.end_time }}
        </p>
      </div>
      <div *ngIf="!appointmentRequested">
        <p>No se han seleccionado datos para confirmar aún.</p>
      </div>
      <div>
        <button mat-button matStepperPrevious [disabled]="hasConfirm">
          Atrás
        </button>
        <button
          mat-button
          matStepperNext
          (click)="handleCreateRequestAppointment()"
        >
          Finalizar
        </button>
      </div>
    </mat-step>
    <!-- Step 3 -->
    <mat-step>
      <ng-template matStepLabel>Ya tienes turno</ng-template>
      <p>
        ¡Se ha solicitado el turno exitosamente! Puedes ver mas información en
        la sección de Mis turnos.
      </p>
      <div>
        <button mat-button (click)="stepper.reset()">
          Solicitar otro turno
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
