<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#edf2f4"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: #edf2f4; font-family: Roboto">Cargando...</p>
</ngx-spinner>

<div class="infoContainer">
  <button
    type="button"
    class="fa fa-arrow-left icon-button"
    aria-hidden="true"
    (click)="handleBack()"
  ></button>

  <form
    [formGroup]="form"
    (ngSubmit)="handleSubmit()"
    class="createFormContainer"
  >
    <h1>Elige un turno</h1>
    <!-- if is admin choose patient -->
    <ng-container *ngIf="role === 'ADMIN' && patients">
      <select
        class="form-select selectPatient"
        aria-label="patient select"
        formControlName="patientId"
        (change)="handleSelectPatient($event)"
      >
        <option value="" selected>Selecciona un paciente</option>
        <option *ngFor="let item of patients" [value]="item.id">
          {{ item.name }} {{ item.lastname }}
        </option>
      </select>
      <p
        class="error-msg"
        *ngIf="
          form.get('patientId')?.invalid &&
          (form.get('patientId')?.dirty || form.get('patientId')?.touched)
        "
      >
        Debe seleccionar un paciente
      </p>
    </ng-container>
    <!-- choose professional -->
    <div
      class="roundedButtons"
      *ngIf="professionals && professionals.length > 0"
    >
      <div *ngFor="let professional of professionals">
        <p class="professionalName">
          {{ professional.name }} {{ professional.lastname }}
        </p>
        <button
          type="button"
          (click)="handleSelectProfessional(professional.email)"
        >
          <img [src]="professional.profilePicture" alt="Foto de perfil" />
        </button>
      </div>
    </div>
    <!-- choose specialty -->
    <div *ngIf="professionalSelected">
      <p class="selected-text">
        Especialidades de {{ professionalSelected.name }}
        {{ professionalSelected.lastname }}
      </p>
      <div class="specialty-container">
        <button
          type="button"
          class="specialty-button"
          *ngFor="let specialty of professionalSelected.specialties"
          (click)="handleSelectSpecialty(specialty)"
        >
          <p class="specialty-name">{{ specialty }}</p>
          <img
            class="specialty-image"
            [src]="getSpecialtyImg(specialty)"
            alt="Especialidad"
            appNotFoundImage
          />
        </button>
      </div>
      <p class="text-value" *ngIf="form.get('specialty')?.value">
        <span>Especialidad seleccionada:</span>
        {{ form.get("specialty")?.value }}
      </p>
    </div>

    <h2 *ngIf="form.get('specialty')?.value" class="available-days-text">
      Turnos disponibles
    </h2>

    <div
      class="days-container"
      *ngIf="availableDays.length > 0 && form.get('specialty')?.value"
    >
      <button
        *ngFor="let day of availableDays"
        (click)="selectDay(day)"
        class="day-button"
      >
        {{ weekDays[day.date.getDay()] }}
        {{ day.date | date : "yyyy-MM-dd" }}
      </button>
    </div>

    <div class="selected-day-container" *ngIf="selectedDay">
      <p class="text-value">
        <span>Fecha seleccionada:</span>
        {{ selectedDay.date | date : "yyyy-MM-dd" }}
      </p>
      <ul *ngIf="selectedDay.availableTimes.length > 0" class="time-list">
        <li *ngFor="let time of selectedDay.availableTimes" class="time-item">
          <button
            type="button"
            class="btn btn-outline-secondary"
            (click)="handleSelectTime(time.startTime, time.endTime)"
          >
            {{ time.startTime }} - {{ time.endTime }}
          </button>
        </li>
      </ul>
      <p class="text-value" *ngIf="selectTime">
        <span>Horario seleccionado:</span>
        {{ selectTime.startTime }} - {{ selectTime.endTime }} hs
      </p>
      <div *ngIf="selectedDay.availableTimes.length === 0" class="no-times">
        <p>No hay turnos disponibles para este día.</p>
      </div>
    </div>
    <div>
      <button class="btn continueBtn" type="submit" [disabled]="form.invalid">
        Continuar
      </button>
    </div>
  </form>
</div>
