<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#edf2f4"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: #edf2f4; font-family: Roboto">Cargando...</p>
</ngx-spinner>

<button
  type="button"
  class="fa fa-arrow-left icon-button"
  aria-hidden="true"
  (click)="handleBack()"
></button>

<h1 appSectionTitle>Usuarios</h1>

<ng-container *ngIf="users && users.length > 0">
  <div class="cards-in-row">
    <div class="card" style="width: 18rem" *ngFor="let user of users">
      <div class="card-body">
        <h5 class="card-title">{{ user.name }} {{ user.lastname }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">{{ user.role }}</h6>
        <p class="card-text">Email: {{ user.email }}. Edad: {{ user.age }}</p>
        <button
          type="button"
          class="btn btn-outline-info"
          (click)="handleClick(user.email)"
        >
          Ver info / Descargar datos
        </button>
      </div>
    </div>
  </div>
</ng-container>
