<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#edf2f4"
  type="ball-scale-multiple"
  [fullScreen]="true"
  ><p style="color: #edf2f4; font-family: Roboto">Cargando...</p>
</ngx-spinner>

<button
  type="button"
  class="fa fa-arrow-left icon-button"
  aria-hidden="true"
  (click)="handleBack()"
></button>

<h1>Usuarios</h1>
<table class="table table-bordered" *ngIf="users && users.length > 0">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Role</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users">
    <tr>
      <th scope="row">
        <input
          class="form-check-input"
          type="radio"
          name="flexRadioDefault"
          id="flexRadioDefault1"
          (click)="handleClick(user.email)"
        />
      </th>
      <td>{{ user.role }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.lastname }}</td>
      <td>{{ user.email }}</td>
    </tr>
  </tbody>
</table>
