.professionalName {
  text-align: start;
  margin-bottom: 5px;
}

.selected-text {
  text-align: start;
  font-size: 14px;
  font-weight: 500;
  margin-top: 1rem;
}

.specialty-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.specialty-button {
  border: none;
  background-color: #edf2f4;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}
.specialty-button:hover {
  background-color: #8d99ae;
}

.specialty-image {
  width: 80px;
  height: 80px;
  object-fit: fill;
  margin-bottom: 5px;
}

.specialty-name {
  margin-top: 5px;
  font-size: 14px;
  color: black;
  font-weight: 500;
}

.available-days-text {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 10px;
}
.days-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-bottom: 10px;

  button {
    padding: 8px 16px;
    border: 1px solid #2b2d42;
    border-radius: 5px;
    background-color: #edf2f4;
    cursor: pointer;
  }

  button:hover {
    background-color: #8d99ae;
  }
}

.selected-day-container {
  margin-top: 20px;
}

.time-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.time-item {
  margin-right: 10px;
  margin-bottom: 10px;
}

.no-times {
  margin-top: 10px;
}

.text-value {
  font-size: 14px;
  margin-top: 10px;
}
