<ngx-spinner
  bdColor="rgba(0, 0, 0, 0.8)"
  size="medium"
  color="#edf2f4"
  type="ball-scale-multiple"
  [fullScreen]="true"
>
  <p style="color: #edf2f4; font-family: Roboto">Cargando...</p>
</ngx-spinner>

<ng-container *ngIf="itemSelected">
  <!-- Modal -->
  <div
    class="modal fade"
    id="staticBackdrop"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            {{ modalTitle }}
          </h1>
        </div>
        <div class="modal-body">
          <p
            *ngIf="
              reviewComment.length > 0 &&
              (action === 'VER_REVIEW_PROFESIONAL' ||
                action === 'VER_REVIEW_PACIENTE')
            "
          >
            {{ reviewComment }}
          </p>

          <form
            [formGroup]="form"
            *ngIf="
              action !== 'ACEPTADO' &&
              action !== 'VER_REVIEW_PROFESIONAL' &&
              action !== 'VER_REVIEW_PACIENTE'
            "
          >
            <div class="form-floating">
              <textarea
                class="form-control"
                placeholder="Ingresar comentario"
                id="comment"
                style="height: 100px"
                formControlName="comment"
              ></textarea>
              <label for="comment">Comentario</label>
            </div>
            <p
              class="error-msg"
              *ngIf="
                form.get('comment')?.invalid &&
                (form.get('comment')?.dirty || form.get('comment')?.touched)
              "
            >
              Debe ingresar un comentario (hasta 300 caracteres)
            </p>
            <div class="form-floating" *ngIf="action === 'REALIZADO'">
              <textarea
                class="form-control"
                placeholder="Ingresar diagnóstico"
                id="diagnosis"
                style="height: 100px"
                formControlName="diagnosis"
              ></textarea>
              <label for="diagnosis">Diagnóstico</label>
              <p
                class="error-msg"
                *ngIf="
                  form.get('diagnosis')?.invalid &&
                  (form.get('diagnosis')?.dirty ||
                    form.get('diagnosis')?.touched)
                "
              >
                Debe ingresar un diagnóstico (hasta 300 caracteres)
              </p>
            </div>
            <div *ngIf="action === 'CALIFICAR'">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Ingresar puntos (1-10)"
                  id="points"
                  formControlName="points"
                />
                <label for="points">Puntos (1-10)</label>
                <p
                  class="error-msg"
                  *ngIf="
                    form.get('points')?.invalid &&
                    (form.get('points')?.dirty || form.get('points')?.touched)
                  "
                >
                  Debe ingresar puntos válidos (1-10)
                </p>
              </div>
            </div>
            <div *ngIf="action === 'COMPLETAR_CUESTIONARIO'">
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Calidad del servicio (1-10)"
                  id="quality"
                  formControlName="quality"
                />
                <label for="quality">Calidad del servicio (1-10)</label>
                <p
                  class="error-msg"
                  *ngIf="
                    form.get('quality')?.invalid &&
                    (form.get('quality')?.dirty || form.get('quality')?.touched)
                  "
                >
                  Debe ingresar un valor válido (1-10)
                </p>
              </div>
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Instalaciones y condiciones (1-10)"
                  id="facilitiesAndConditions"
                  formControlName="facilitiesAndConditions"
                />
                <label for="facilitiesAndConditions"
                  >Instalaciones y condiciones (1-10)</label
                >
                <p
                  class="error-msg"
                  *ngIf="
                    form.get('facilitiesAndConditions')?.invalid &&
                    (form.get('facilitiesAndConditions')?.dirty ||
                      form.get('facilitiesAndConditions')?.touched)
                  "
                >
                  Debe ingresar un valor válido (1-10)
                </p>
              </div>
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Tiempo de espera (1-10)"
                  id="waitTime"
                  formControlName="waitTime"
                />
                <label for="waitTime">Tiempo de espera (1-10)</label>
                <p
                  class="error-msg"
                  *ngIf="
                    form.get('waitTime')?.invalid &&
                    (form.get('waitTime')?.dirty ||
                      form.get('waitTime')?.touched)
                  "
                >
                  Debe ingresar un valor válido (1-10)
                </p>
              </div>
              <div class="form-floating">
                <input
                  type="number"
                  class="form-control"
                  placeholder="Seguridad y privacidad (1-10)"
                  id="securityAndPrivacy"
                  formControlName="securityAndPrivacy"
                />
                <label for="securityAndPrivacy"
                  >Seguridad y privacidad (1-10)</label
                >
                <p
                  class="error-msg"
                  *ngIf="
                    form.get('securityAndPrivacy')?.invalid &&
                    (form.get('securityAndPrivacy')?.dirty ||
                      form.get('securityAndPrivacy')?.touched)
                  "
                >
                  Debe ingresar un valor válido (1-10)
                </p>
              </div>
            </div>
          </form>
        </div>
        <!-- Formulario de Historial del Paciente -->
        <div class="modal-body" *ngIf="action === 'REALIZADO'">
          <form [formGroup]="formHistoryPatient">
            <div class="form-floating">
              <input
                type="number"
                class="form-control"
                id="height"
                placeholder="Altura (cm)"
                formControlName="height"
              />
              <label for="height">Altura (cm)</label>
              <p
                class="error-msg"
                *ngIf="
                  formHistoryPatient.get('height')?.invalid &&
                  (formHistoryPatient.get('height')?.dirty ||
                    formHistoryPatient.get('height')?.touched)
                "
              >
                Debe ingresar una altura válida (1-250 cm)
              </p>
            </div>
            <div class="form-floating">
              <input
                type="number"
                class="form-control"
                id="weight"
                placeholder="Peso (kg)"
                formControlName="weight"
              />
              <label for="weight">Peso (kg)</label>
              <p
                class="error-msg"
                *ngIf="
                  formHistoryPatient.get('weight')?.invalid &&
                  (formHistoryPatient.get('weight')?.dirty ||
                    formHistoryPatient.get('weight')?.touched)
                "
              >
                Debe ingresar un peso válido (1-300 kg)
              </p>
            </div>
            <div class="form-floating">
              <input
                type="number"
                class="form-control"
                id="temperature"
                placeholder="Peso (kg)"
                formControlName="temperature"
              />
              <label for="temperature">Temperatura</label>
              <p
                class="error-msg"
                *ngIf="
                  formHistoryPatient.get('temperature')?.invalid &&
                  (formHistoryPatient.get('temperature')?.dirty ||
                    formHistoryPatient.get('temperature')?.touched)
                "
              >
                Debe ingresar una temperatura válida (28-50)
              </p>
            </div>
            <div class="form-floating">
              <input
                type="number"
                class="form-control"
                id="pressure"
                placeholder="Presión arterial (mmHg)"
                formControlName="pressure"
              />
              <label for="pressure">Presión arterial (mmHg)</label>
              <p
                class="error-msg"
                *ngIf="
                  formHistoryPatient.get('pressure')?.invalid &&
                  (formHistoryPatient.get('pressure')?.dirty ||
                    formHistoryPatient.get('pressure')?.touched)
                "
              >
                Debe ingresar una presión arterial válida (20-300 mmHg)
              </p>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="extraA"
                placeholder="Extra A"
                formControlName="extraA"
              />
              <label for="extraA">Nombre dato adicional 1</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="valueA"
                placeholder="Valor A"
                formControlName="valueA"
              />
              <label for="valueA">Valor</label>
              <p
                class="error-msg"
                *ngIf="formHistoryPatient.get('valueA')?.invalid"
              >
                Este campo es obligatorio si ingresa Dato adicional.
              </p>
            </div>

            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="extraB"
                placeholder="Extra B"
                formControlName="extraB"
              />
              <label for="extraB">Nombre dato adicional 2</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="valueB"
                placeholder="Valor B"
                formControlName="valueB"
              />
              <label for="valueB">Valor (2)</label>
              <p
                class="error-msg"
                *ngIf="formHistoryPatient.get('valueB')?.invalid"
              >
                Este campo es obligatorio si ingresa Dato adicional 2.
              </p>
            </div>

            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="extraC"
                placeholder="Extra C"
                formControlName="extraC"
              />
              <label for="extraC">Nombre dato adicional 3</label>
            </div>
            <div class="form-floating">
              <input
                type="text"
                class="form-control"
                id="valueC"
                placeholder="Valor C"
                formControlName="valueC"
              />
              <label for="valueC">Valor (3)</label>
              <p
                class="error-msg"
                *ngIf="formHistoryPatient.get('valueC')?.invalid"
              >
                Este campo es obligatorio si ingresa Dato adicional 3.
              </p>
            </div>
          </form>
        </div>
        <!-- Fin del formulario de Historial del Paciente -->
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
            (click)="handleCloseModal()"
          >
            Cerrar
          </button>
          <button
            *ngIf="
              action !== 'VER_REVIEW_PROFESIONAL' &&
              action !== 'VER_REVIEW_PACIENTE'
            "
            type="button"
            data-bs-dismiss="modal"
            class="btn btn-primary"
            (click)="handleSubmit()"
          >
            Enviar
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- end of modal -->

  <div class="buttonsContainer">
    <!-- Buttons for different actions -->
    <button
      *ngIf="hasToShowCancelAction"
      type="button"
      class="btn btn-outline-secondary"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="handleClickAction('CANCELADO')"
    >
      Cancelar turno
    </button>
    <button
      *ngIf="hasToShowDeclineAction"
      type="button"
      class="btn btn-outline-danger"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="handleClickAction('RECHAZADO')"
    >
      Rechazar turno
    </button>
    <button
      *ngIf="hasToShowAcceptAction"
      type="button"
      class="btn btn-outline-success"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="handleClickAction('ACEPTADO')"
    >
      Aceptar turno
    </button>
    <button
      *ngIf="hasToShowFinishAction"
      type="button"
      class="btn btn-outline-success"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="handleClickAction('REALIZADO')"
    >
      Finalizar turno
    </button>

    <!-- Buttons for patient actions -->
    <button
      *ngIf="hasToShowProfessionalReview"
      type="button"
      class="btn btn-outline-success"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="handleClickAction('VER_REVIEW_PROFESIONAL')"
    >
      Ver diagnóstico y comentario del especialista
    </button>
    <button
      *ngIf="hasToShowQuestionnaire"
      type="button"
      class="btn btn-outline-success"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="handleClickAction('COMPLETAR_CUESTIONARIO')"
    >
      Completar cuestionario
    </button>
    <button
      *ngIf="hasToShowRateProfessional"
      type="button"
      class="btn btn-outline-success"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="handleClickAction('CALIFICAR')"
    >
      Calificar atención del especialista
    </button>

    <!-- Button for specialist action -->
    <button
      *ngIf="hasToShowPatientReview"
      type="button"
      class="btn btn-outline-success"
      data-bs-toggle="modal"
      data-bs-target="#staticBackdrop"
      (click)="handleClickAction('VER_REVIEW_PACIENTE')"
    >
      Ver comentario del paciente
    </button>

    <p
      *ngIf="
        !hasToShowCancelAction &&
        !hasToShowDeclineAction &&
        !hasToShowAcceptAction &&
        !hasToShowFinishAction &&
        !hasToShowProfessionalReview &&
        !hasToShowQuestionnaire &&
        !hasToShowRateProfessional &&
        !hasToShowPatientReview
      "
    >
      No puede realizar ninguna acción con este turno.
    </p>
  </div>
</ng-container>
