<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          Historial clínico
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>

      <div class="modal-body">
        <ng-container
          *ngIf="appointments && appointments.length > 0; else emptyDetail"
        >
          <div *ngFor="let appointment of appointments">
            <p>
              <strong>Turno</strong>
              Día: {{ appointment.day }}, Horario:
              {{ appointment.start_time }} - {{ appointment.end_time }}, Fecha:
              {{ appointment.date }}, Especialidad: {{ appointment.specialty }}
              {{
                role === "PACIENTE"
                  ? ", Especialista: " + appointment.professional_name
                  : ""
              }}
            </p>

            <div *ngIf="appointment.patientHistory">
              <p>
                <strong>Detalle: </strong>
                Altura: {{ appointment.patientHistory.height }}. Peso:
                {{ appointment.patientHistory.weight }}. Temperatura:
                {{ appointment.patientHistory.temperature }}. Presión arterial:
                {{ appointment.patientHistory.pressure }}
                <ng-container *ngIf="appointment.patientHistory.extraData">
                  <span
                    *ngFor="
                      let key of getExtraDataKeys(
                        appointment.patientHistory.extraData
                      )
                    "
                  >
                    {{ key }}: {{ appointment.patientHistory.extraData[key] }}
                  </span>
                </ng-container>
              </p>
            </div>
            <hr />
          </div>
        </ng-container>
        <ng-template #emptyDetail>
          <p>No tiene historial</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
