body {
  background-color: #edf2f4;
}

.icon-button {
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

.form {
  padding-left: 45px;
  padding-bottom: 45px;
  padding-right: 45px;
  background: #ffffff;
  display: flex;
  flex-direction: column;

  input {
    font-family: "Roboto", sans-serif;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    outline: 0;
    font-size: 15px;
    text-align: start;
    box-sizing: border-box;
    background: #f5f5f5;
    ::placeholder {
      color: #90a4ae;
    }
  }

  .align-input-error {
    display: flex;
    flex-direction: column;

    p {
      color: red;
    }
  }
  .btn {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    outline: 0;
    border: 0;
    width: 100%;
    padding: 15px;
    background: #ef233c;
    color: #fafafa;
    text-transform: uppercase;
  }

  .message {
    color: #8d99ae;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    a {
      text-decoration: underline;
      color: #2b2d42;
    }
  }
}

.error-msg {
  color: red;
}

.label {
  font-family: "Poppins", sans-serif;
}

.infoContainer {
  width: fit-content;
  margin: auto;
  h2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.roundedButtons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.roundedButtons button {
  width: auto;
  text-align: center;
  border: 0;
  border-radius: 100%;
  padding: 10px;
}
.roundedButtons button:hover {
  background-color: #2b2d42;
  color: #edf2f4;
}

.roundedButtons img {
  object-fit: fill;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 10px;
  transform: translateY(-5px);
}

.roundedButtons p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
}

.gap {
  display: flex;
  gap: 10px;
}

.redirectlink {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
  color: #2b2d42;
  text-align: center;

  p {
    margin-right: 10px;
    display: inline;
  }
  a {
    text-decoration: underline;
    color: #2b2d42;
    font-weight: 500;
    cursor: pointer;
  }
}

.actionNote {
  font-size: 14px;
  text-align: center;
  text-decoration: wavy;
  margin-top: 10px;
}
